<?xml version="1.0" encoding="UTF-8"?>
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
       <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"-->
<!--default-init-method="init" default-destroy-method="destroy"-->
<!--&gt;-->
    <beans xmlns="http://www.springframework.org/schema/beans"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"

    >

    <bean id="helloWorld" class="com.tutorialspoint.HelloWorld" scope="prototype" >
        <property name="message" value="Hello World! from xml 01 CR 02 CR"></property>
    </bean>

    <!--<bean class="com.tutorialspoint.InitHelloWorld"></bean>-->

    <!--<bean id="textEditor" class="com.tutorialspoint.TextEditor">-->
        <!--<constructor-arg index="0" ref="spellChecker"></constructor-arg>-->
        <!--<constructor-arg index="1" value=" from Little Prince"></constructor-arg>-->
    <!--</bean>-->
    <bean id="textEditor" class="com.tutorialspoint.TextEditor" >
        <property name="spellChecker" ref="spellChecker">

        </property>


    </bean>
    <bean id="spellChecker" class="com.tutorialspoint.SpellChecker"></bean>

    <bean id="javaCollection" class="com.tutorialspoint.JavaCollection">
        <property name="addressList"><list>
            <value>INDIA</value><value>PAKISTAN</value>
        </list></property>
        <property name="addressSet"><set><value>INDIA</value><value>PARKISTAN</value></set></property>
        <property name="addressMap"><map><entry key="1" value="INDIA"></entry><entry key="2" value="PARKISTAN"></entry></map></property>
        <property name="addressProp"><props><prop key="one">INDIA</prop><prop key="two">PARKISTAN</prop></props></property>
    </bean>


</beans>